
body {
  transition: 1s;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  transition: 1s;
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sectionCounter{
  text-align: center;
}
.h1Counter{
  font-size: 50px;
}
.h2Counter{
  font-size: 40px;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Reset{
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  width: 78px;
  height: 35px;
}
.Reset:hover{
  background-color: gray;
  color: white;
}
.Decrement{
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  width: 78px;
  height: 35px;
}
.Decrement:hover{
  background-color: gray;
  color: white;
}
.Increment{
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  width: 78px;
  height: 35px;
}
.Increment:hover{
  background-color: gray;
  color: white;
}

.section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #660101;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #660101;
}

ul{
  width: 1570px;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  /* align-items: center; */
  list-style: none;
}
p{
  color: white;
}
a{
  text-decoration: none;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
}
a:hover{
  background-color: #af0000;
  border-radius: 5px;
  color: black;
}

.ftReact{
  width: 130px;
}


/*--------------------*/
.imgIlu{
  width: 300px;
}
.imgIlu{
  -webkit-filter: invert(100%);
filter: invert(100%);
}

.Container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  background-color: transparent;
  font-family: 'Rock Salt', cursive;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  background-color: #660101;
  width: 350px;
  border-radius: 10px;
  text-align: center;
  color: white;
}
.card:hover{
  background-color: rgb(178, 0, 0);
  border: 2px solid rgb(78, 5, 0);
  box-shadow: 0px 0px 20px rgb(255, 94, 0);
}
.TitleRickAndMorty{
  font-size: 25px;
  color: rgb(255 255 255);
  /* font-weight: 600; */
  text-shadow: 0 0 10px rgb(255, 0, 0);
}

.sectionRickAndMotry{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputSearch{
  margin: 15px;
  border-radius: 10px;
  border: none;
  outline: 2px dotted black;
  padding: 5px;
  width: 500px;
  text-align: center;
  font-size: 15px;
  height: 30px;
}
hr {
  width: 85%;
}

/*---------Dark Mode-----------*/

body.color{
  transition: 1s;
  background-color: rgb(0, 0, 0);
}
body.color h1{
  color: white;
  transition: 1s;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
body.color .card{
  background-color:#660101;
  border: 2px solid rgb(78, 5, 0);
  box-shadow: 0px 0px 12px rgb(255, 94, 0);
}
body.color .h{
  color: white;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
body.color .inputSearch{
  outline: 2px dotted black;
}

body.color .h2Counter{
  color: white;
}

.lbl1{
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  width: 65px;
  height: 33px;
  background-color: rgb(170, 170, 170);
  border-radius: 100px;
  cursor: pointer;
  position: relative; 
  transition: .2s;
}
.lbl1::after{
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-color: aliceblue;
  border-radius: 100px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: .2s;
}
#switch1:checked + .lbl1::after{
  left: 36px;
}
#switch1:checked + .lbl1{
  background-color: rgb(0, 182, 15);
}
#switch1{
  display: none;
}

/*-----------Tenor------------*/
.sectionTenor{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ContainerTenor{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  background-color: transparent;
  font-family: 'Rock Salt', cursive;
}
.imgCardTenor{
  width: 350px;
  height: 350px;
  margin: 5px;
}

/*-------ContactUs-------*/

.form-mail{
  text-align: center;
}

body.color .form-mail{
  color: white;
}

/*----------------------------*/

.textRepeat{
  text-align: center;
  margin: 20px;
}